@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
      /* The hack for Safari */
      height: -webkit-fill-available;
    }
}

body {
    background-color: #222;
    color: #ededed;
    overflow-y: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo img {
    height: 60px;
    width: 60px;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #bb86fc;
}

.navbar .toggle-btn {
    font-size: 35px;
    cursor: pointer;
    display: none;
}

.page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

.projects {
    justify-content: center;
}

.about-content {
    max-height: 60%;
    text-align: center;
    max-width: 60%;
}

.about-content a {
    color: #bb86fc;
    text-decoration: underline wavy #FFE74C;
    font-weight: 500;
}


.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.0;
}

.home-content {
    text-align: center;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    color: #bb86fc;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 16px;
    margin-top: 5px;
    max-width: 70%; 
    margin-left: auto;
    margin-right: auto;
}

.about-content p {
    margin: 10px 0px;
    max-width: 100%;
}

.about-content h1 {
    text-align: center;
}


.home-content img {
    width: 50px;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    background: transparent;
    color: #bb86fc;
    border: 2px solid #bb86fc;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-top: 50px;
}


.home-social {
    position: absolute;
    bottom: 10%;
    width: 180px;
    display: flex;
    justify-content: space-between;
}


.home-social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #bb86fc;
    border-radius: 50%;
    color: #bb86fc;
    text-decoration: none;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}


.projects-content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    align-items: center;
    height: 18rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}

.card-content {
    position: absolute;
    text-align: center;
}

.card img {
    width: 300px;
    height: 140px;
    margin-bottom: 1rem;
}

.projects-content a {
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
}


.card p {
    font-size: 12px;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.8);
}






/* Fix for iOS hover state stuck after tapping them */
@media (hover:hover) {
    .btn-box a:hover,
    .home-social a:hover {
        background: #bb86fc; 
        color: #081b29;
    }
 }
 @media (hover:hover) {
    .navbar a:hover {
        color: #bb86fc;
    }
 }




/* RESPONSIVE DESIGN */
@media (max-width: 1365px) {
    .projects {
        padding-top: 300px;
    }

    .card {
        margin-bottom: 30px;
    }
}


@media (max-width: 1120px) {
    .home-content p {
        max-width: 80%;
    }
}

@media (max-width: 960px) {
    .home-content h1 {
        font-size: 45px;
    }

    .home-content h3 {
        font-size: 21px;
    }

    .home-content p {
        max-width: 100%;
    }

    .projects-content {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 30em;
    }
}

@media (max-width: 790px) {
    .home-content h1 {
        font-size: 40px;
    }

    .home-content h3 {
        font-size: 20px;
    }

    .home-content p {
        max-width: 100%;
    }

    .about-content {
        max-width: 100%;
    }

    .navbar .links {
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 1rem;
        top: 80px;
        width: 155px;
        height: 0px;
        background: #282828;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        padding: 0.7rem;
        transition: height 1s ease;
        visibility: hidden;
        opacity: 0;
    }

    .navbar .links.active {
        display: flex;
        visibility: visible;
        opacity: 1;
        height: 160px;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .toggle-btn .bx-x {
        display: none;
    }

    .toggle-btn .bx-x.active {
        display: inline-block;
    }

    .toggle-btn .bx-menu.active {
        display: none;
    }
}



@media (max-width: 435px) {
    .home-content h1,
    .about-content h1 {
        font-size: 20px;
    }
    
    .home-content h3 {
        font-size: 15px;
    }

    .home-content p,
    .about-content p {
        font-size: 13px;
    }

    .home-content img {
        width: 22px;
    }

    .home-social {
        bottom: 40px;
    }
}